/Makefile
/Makefile.in
/configs/sudoers.d/vpnns
/configs/tmpfiles.d/vpnns.conf
/configs/vpnns.conf
/configure*
/functions.sh
/netns/hosts
/openvpn
/updown.sh
/route_up_hooks/50ready.sh
/up_hooks/10dns.sh
/systemd/openvpn-vpnns.service
/systemd/vpnns-namespace.service
/systemd/openvpn-tuntap.service
/build-aux
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
*.pkg.tar.zst
/PKGBUILD
